.grass{
  position:absolute;
  width: 101%;
  margin-left: -150px; /* very important for the image to be centered */
  left:9%;
  bottom:-250px;
}
body{
  overflow: hidden;
	font-size: 20px;
	font-family: 'Work Sans', sans-serif;
	color: #333;
  font-weight: 300;
  background-color: #FFAB00;
}
h1{
  text-align: center;
  font-weight: 300;
  margin: 0px;
  padding: 10px;
  font-size: 30px;
  background-color: #DD2E18;
  color: black;
  border: 2px solid black;
}
  .navbar-nav{
    margin-right: auto;
  }
  .column{
    float: left;
    width: 20%;
    padding: 5px;
  }
  .row::after {
    content: "";
    clear: both;
    padding: 20px;
  }
.responsive {
  overflow: hidden;
  border: 2px solid black;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 100%;
  height: cover;
    float: left;
}
a:link{
  text-decoration: none;
}
.overlay1, .overlay2,.overlay3,.overlay4,.overlay5{
  position:auto;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 15px;
  text-align: center;
  border-radius: 20px;
}
.container1,.container2{
  position: inherit;
}
.container1:hover .overlay1{
  opacity: 1;
}
.container2:hover .overlay2{
  opacity: 1;
}
.container3:hover .overlay3{
  opacity: 1;
}
.container4:hover .overlay4{
  opacity: 1;
}
.container5:hover .overlay5{
  opacity: 1;
}
