
  .container {
    position:absolute;
    right: inherit;
    padding-top: 300px;
  }
  
  .image {
    border: #000000 2px solid;
    display: inline-flex;
    width:350px;
    height: 150px;
    float: left;
  }
  